{% for server in chrony_servers %}
server {{ server }} iburst
{% endfor %}

keyfile /etc/chrony/chrony.keys
commandkey 1

driftfile /var/lib/chrony/chrony.drift

log tracking measurements statistics
logdir /var/log/chrony

maxupdateskew 100.0

dumponexit

dumpdir /var/lib/chrony

local stratum 10

allow 10/8
allow 192.168/16
allow 172.16/12

logchange 0.5

rtconutc

